body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}

.wrapper {
    margin: 0.5rem auto;
    width: 85%;
    min-width: 796px;
    min-height: 90%;
}

a:link, a:visited {
    color: #828282;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Comic Sans MS', Verdana, Geneva, sans-serif;
    background: #f60;
    color: black;
    margin: 0;
    padding: 0.5rem;
}

header h1 {
    font-size: 14pt;
    font-weight: bold;
    margin: 0;
}

header a:link, header a:visited {
    color: black;
}

header p {
    margin: 0;
}

main {
    background: #f6f6ef;
    margin: 0;
    padding: 0.5rem;
}

.search {
    padding: 1rem;
}

.post {
    margin: 0.5rem 1rem;
}

.post-body {
    color: black;
    margin: 0 0 0.25rem;
}

.post-meta {
    font-size: 8pt;
    margin: 0;
}

.more {
    display: inline-block;
    padding: 1em;
    margin-left: 2em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f6f6ef;
    margin: 0;
    padding: 1rem 0.5rem;
    border-top: 2px solid #f60;
}