@import org.joda.time.format.DateTimeFormat

@(posts: Seq[models.Post])

<ol class="feed">
@for(post <- posts) {
  <li class="post">
    <p class="post-body">@post.content</p>
    <p class="post-meta">
      <a class="post-author" href="/u/@post.author">@post.author</a> |
      <span class="post-date">@post.createdAt.toString(DateTimeFormat.mediumDateTime())</span>
    </p>
  </li>
}
</ol>