@import org.bson.types.ObjectId

@(posts: Seq[Post], next: Option[ObjectId])

@main("ElasticSearch Feed Demo") {
  <form class="search" action="/search">
    <label for="term">
      Search elastically:
      <input type="search" name="term" id="term" class="search-box">
    </label>
    <input type="submit" value="->">
  </form>
  @feed(posts)
  @next match {
    case Some(id) => {<a class="more" href="/?start=@id.toHexString">Read More →</a>}
    case None => {<span>END OF LINE.</span>}
  }
}
