@import java.net.URLEncoder
@import org.bson.types.ObjectId

@(term: String, posts: Seq[Post], next: Option[ObjectId] = None)

@main(s"ElasticSearch Feed Demo - Search Results") {
  <h2>Search Results: "@term"</h2>
  @feed(posts)
  @next match {
    case Some(id) => {
      <a class="more" href="/search?term=@URLEncoder.encode(term, "utf-8")&start=@id.toHexString">Read More →</a>
    }
    case None => {<span>END OF LINE.</span>}
  }
}
