@import java.net.URLEncoder
@import org.bson.types.ObjectId

@(user: String, posts: Seq[Post], next: Option[ObjectId])

@main(s"ElasticSearch Feed Demo - User ${user}") {
  <h2>User: @user</h2>
  @feed(posts)
  @next match {
    case Some(id) => {<a class="more" href="/u/@URLEncoder.encode(user, "utf-8")?start=@id.toHexString">Read More →</a>}
    case None => {<span>END OF LINE.</span>}
  }
}
